<html>
    <head>
        <link rel="stylesheet" href="../css/dashboard.css">
        <script src="../js/dashboard.js"></script>
    </head>
    <body onload="loadUserData()">
        <h1>Registerd Users</h1>
        <table id="reg-table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Data</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>

        <h1>LoggedIn User</h1>
        <table id="logged-table">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>User Data</th>
                </tr>
            </thead>
            <tbody>
                
            </tbody>
        </table>
    </body>
</html>