{% load static %}
<!DOCTYPE html><!--DOCTYPE declaration defines the document type and version of HTML being used. It helps browsers to render the page correctly.-->
<html lang="en">
<!--Language of web page content is in english. it helps screen readers interpret and read the content correctly for users with disabilities-->

    <head>
        <!-- Adding title for page, as it best SEO practice and improve the usability of your website.  -->
        <title>Log In : SyncWare - Empowering Industrial Efficiency</title>
        <link rel="stylesheet" href="{% static 'machinery/css/login.css' %}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!--ensures webpages adopt to different devices-->
        <script src="{% static 'machinery/js/login.js' %}"></script> <!--Linking to javascript of login page-->
    </head>

    <body onload="initialisePage()">
        <div class="content">
            <!-- Navigation and Logo Container -->
            <!--provided title attribute on anchor links for accessibility-->
            <div class="container-nav" onmouseleave="hideExpandMenu(event)">
                <a href="/home"><img alt="companylogo" class="logo" src="{% static 'machinery/Images/LogoNew.png' %}"></a>
                <!-- Drop down navigation for mobile phones-->
                <nav class="dropdown hide">
                    <button class="menu-icon"></button>
                    <div class="dropdown-content">
                        <a href="/login" title="Register or Login">
                            <button>Register / Login</button>
                        </a>
                        <a href="/home" title="Home : Navigation Menu">Home</a>
                        <a href="/about-us" title="About Us : Navigation Menu">About Us</a>
                        <a href="/faqs" title="FAQs : Navigation Menu">FAQs</a>
                    </div>
                </nav>
                <div class="clear"></div>
            </div>

            <main>
                <div class="container">
                    <div class="page_2">
                        <div class="title">
                            Welcome Back
                            <div class="welcome-msg">
                                <br><br>Thank you for getting back to us,<br>
                                <span class="highlight-text">please login to access your account</span>
                            </div>
                        </div>
            
                        <form class="form" onsubmit="return check()" id="loginForm" method="post">
                            <div class="grid1">
                                <input name="username" type="text" id="username" placeholder="username..." required autocomplete="off" onfocusout="checkField(this);">
                                <input name="password" type="password" placeholder="Password..." id="password" required minlength="5" maxlength="50" pattern="^(?=.*[\W_]).{5,50}$" title="Password must be 5-50 characters long and include at least one special character." onfocusout="checkField(this);">
                            </div>
                            <div>
                                <button class="sign_in">LOG IN</button>
                            </div>
                        </form>           
                    </div>
            
                    <div class="welcome_page">
                        <div class="welcome-text">
                            Welcome Back!<br>Log in to continue<br>
                            <span class="subtext">
                                Don't have an account yet?
                                <a class="signup-link" href="/register"> Sign up </a>
                            </span>
                        </div>
                        <a href="/register">
                            <button class="sign_up" type="button">SIGN UP</button>
                        </a>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>