{% extends 'machinery/base.html' %}

{% load static %}

{% block title %}Machines{% endblock %}

{% block extra_style %}
 <link rel="stylesheet" href="{% static 'machinery/css/styles.css' %}">
 {% endblock %}

{% block content %}
    <h1>Machines</h1>
    {% if user_role == 'Manager' %}  
        <a href="/addMachine"> <button>New Machine</button></a>
    {% endif %}
    <table id="machines-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Company ID</th>
                <th>Name</th>
                <th>Serial Number</th>
                <th>Importance</th>
                <th>Status</th>
                {% if user_role == 'Manager' %} 
                    <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% if data %} 
               {% for machine in data %}
                  <tr>
                    <td>{{machine.id}}</td>
                    <td>{{machine.company_id}}</td>
                    <td>{{machine.name}}</td>
                    <td>{{machine.serial_number}}</td>
                    <td>{{machine.importance}}</td>
                    <td>{{machine.status}}</td>
                   
                        {% if user_role == 'Manager' %}  
                        <td>
                            <a href="/modifyMachine/{{machine.id}}"><button class="modify">Modify</button></a>
                            <a href="/deleteMachine/{{machine.id}}"><button class="delete">Delete</button></a>
                        </td>
                        {% endif %}
                   
                  </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
