{% load static %}
<html lang="en"> <!--Language of web page content is in english. it helps screen readers interpret and read the content correctly for users with disabilities-->
    <head>
        <!-- Adding title for page, as it best SEO practice and improve the usability of your website. -->
        <title>Services - Empowering Industrial Efficiency</title>
        <link rel="stylesheet" href="{% static 'machinery/css/services.css' %}">
        <meta name="viewport" content="width=device-width,initial-scale=1"> <!--ensures webpages adopt to different devices-->
    </head>
    <body>
        <div class="content">
           <!-- Navigation and Logo Container -->
            <!--provided title attribute on anchor links for accessibility-->
            <div class="container-nav">
                <a href="/home"><img alt="companylogo" class="logo" src="{% static 'machinery/Images/LogoNew.png' %}"></a>
                <nav class="dropdown">
                    <button class="menu-icon"></button>
                    <div class="dropdown-content">
                        <a href="/login" title="Register or Login">
                         <button>Register / Login</button>
                        </a>
                        <a href="/home" title="Home : Navigation Menu">Home</a>
                    <a class="selected" href="/services" title="Services : Navigation Menu">Services</a>    
                    <a href="/about-us" title="About Us : Navigation Menu">About Us</a>
                    <a href="/faqs" title="FAQs : Navigation Menu">FAQs</a>
                    </div>
                </nav>
                <div class="clear"></div>
            </div>

            <main>
                <section>
                    <div class="container-parallax">
                        <div class="container-content" >
                            <h2>Machine Operational Status Tracking</h2>
                            <p>Monitor real-time machine performance with live status updates, efficiency tracking, and instant alerts for potential issues. Gain complete visibility into your factory operations and optimize productivity.</p>
                            <a href="/faqs"><button>Book a Demo</button></a>
                        </div> 

                        <div class="container-content two" >
                            <h2>Repair Request Management</h2>
                            <p>Easily submit, track, and manage repair requests with an automated workflow. Assign tasks to technicians, receive status updates, and reduce downtime with a streamlined maintenance process.</p>
                            <a href="/faqs"><button>Book a Demo</button></a>
                        </div>
                        
                        <div class="container-content three" >
                            <h2>Maintenance & Repair History</h2>
                            <p>Access a comprehensive log of past maintenance activities, repairs, and service schedules. Analyze trends, prevent recurring failures, and ensure data-driven decision-making to extend machine lifespan.</p>
                            <a href="/faqs"><button>Book a Demo</button></a>
                        </div>
                        <div class="container-content last" >
                        </div>
                   </div>
               </section> 

            </main>

        </div>
    </body>
</html>
          