@import url('styles.css'); /* Importing common CSS  */


.container-nav {
    .logo {
        width: 70px;
        float: right;
        margin : 5px 20px;
    }
}

/* Sliding Navigation Styles  */
.menu-icon {
    background-image: url('../Images/menu-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-right : unset;
    background-color: transparent;
}

.dropdown {
    display: block !important;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.main-row-layout {
    display: flex;

    .dropdown-content {
        display: block; 
        position: relative;
        height: 100vh;
        width: 220px;
        left: unset;
        top: unset;
        right: unset;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 0; 
        text-align: left;

        h1 {
            padding-left: 16px;
        }
      }
    
      .dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
        &:hover {
            background-color: #D4AF37;
            color: white;
        }
      }
    
    
    /* setting display content to block to show menu content on focus */
    .menu-icon:focus + .dropdown-content{
        display: block;
        right: unset;
        animation: unset;
    }
    
     /* keeping display content to block when dropdown content is displayed, so we wont loose it when menu-icon is focused out */
    .dropdown-content:active { 
        display: block;
        right: unset;
        animation: unset;
    } 

    .main-content-area {
        padding: 10px 20px;
        flex: 1;
    }
    
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin: 10px 0px;

    td , th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 12px;

        a{
            padding: 10x;
            border-radius: 15px;
        }

        button {
            &.modify {
                background: green;
            }
            &.delete {
                background: red;
            }
        }
    }
}

